<h1>Advertiser : {{ advertiser.name }}</h1>
<div class="row">
  <form name="AdvertiserForm" ng-submit="AdvertiserForm.$valid && save()" novalidate>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Name" class="form-control" ng-model="advertiser.name" required>
      <div class="bg-danger text-danger" ng-show="AdvertiserForm.name.$error.required">This field is required.</div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="Email" class="form-control" ng-model="advertiser.email" required>
      <div class="bg-danger text-danger" ng-show="AdvertiserForm.email.$invalid">This field should be a valid email address.</div>
      <div class="bg-danger text-danger" ng-show="AdvertiserForm.email.$error.required">This field is required.</div>
    </div>
    <div class="form-group">
      <label for="managedBy">Managed by</label>
      <input type="text" name="managedBy" placeholder="Managed by" class="form-control" ng-model="advertiser.managedBy" required>
      <div class="bg-danger text-danger" ng-show="AdvertiserForm.managedBy.$error.required">This field is required.</div>
    </div>
    <button type="submit" class="btn btn-default" ng-disabled="AdvertiserForm.$invalid">Save</button>
  </form>
</div>
